<footer class="footer">
  <div class="container grid">
    <div>
      <h1>Server Manager</h1>
      <p>Copyright &copy; 2021</p>
    </div>
    <div class="links">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/">Dashboard</a></li>
        <li><a routerLink="/">Learn More</a></li>
      </ul>
    </div>
    <div class="social">
      <i class="fab fa-facebook fa-2x"></i>
      <i class="fab fa-github fa-2x"></i>
      <i class="fab fa-twitter fa-2x"></i>
    </div>
  </div>
</footer>
