.navbar {
  justify-content: space-between;
  // box-shadow: 0 19px 38px rgba($color: #000000, $alpha: 0.15);

  position: -webkit-sticky;
  background-color: var(--my-primary);

  .logo {
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
  }
  span {
    padding-right: 0.2rem;
  }
}

.nav-elements {
  cursor: pointer;
}
