<div class="center">

  <h1 class="space-above main-heading">Login</h1>
  <h3 class="sub-heading">Please enter your credentials to login</h3>

  <br />
  <mat-error *ngIf="authErrors"> {{ authErrors?.message }}</mat-error>
  <br />
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput required>
      <mat-hint>Example: hello@example.com</mat-hint>
      <mat-error *ngIf="email.invalid && email.touched">Please Enter a valid E-mail Address
      </mat-error>
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" [type]="hide ? 'password' : 'text'" matInput required>
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint>Remember? Your password has a minimum of 8 characters</mat-hint>
      <mat-error *ngIf="password.invalid && password.touched">Please enter your password that is a minimum of 8
        characters
        long
      </mat-error>
    </mat-form-field>

    <br />
    <br />
    <button *ngIf="!loading" [disabled]="loginForm.invalid" type="submit" class="custom-btn" color="primary"
      mat-raised-button>Login</button>
    <button *ngIf="loading" disabled class="custom-btn" color="primary" mat-raised-button>Logging you in ...</button>
  </form>

  <div class="divider"> <strong>OR</strong> </div>

  <button routerLink="/sign-up" class="custom-btn" color="primary" mat-raised-button>Sign up</button>
</div>
