mat-form-field {
  width: 25%;
  margin: 15px;
}

.divider {
  margin: 10px 0px;
}

button {
  padding: 10px 10px;
  width: 12.5%;
  // font-size: 1.1em;
}

.primary {
  background-color: var(--my-primary);
  color: #fff;
}

.secondary {
  border: 0;
}
