.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.email-highlight {
  color: var(--my-primary);
}

.server {
  color: #369;
  font-weight: 700;
}

.mat-icon-rtl-mirror,
i {
  color: var(--my-primary);
}

i {
  margin-left: 10px;
}

mat-nested-tree-node,
mat-tree {
  .mat-tree-node {
    font-family: Lato;
    font-size: 1.2em;
  }

  button {
    margin: 10px;
  }
}

li {
  margin: 0;
  padding: 0 7px;
  line-height: 20px;
  color: #369;
  font-weight: bold;
  border-left: 1px solid #b6b6b6;
}
