/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

:root {
  --my-primary: #047aed;
  --my-secondary: #04325f;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: Lato;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  width: 100%;
}

img {
  width: 100%;
}

.margin-top {
  margin-top: 30px;
}

button:focus,
button:active:focus,
button.active:focus,
span {
  outline: none !important;
  outline-style: none !important;
}

.center {
  text-align: center;
  margin-top: 64px;
}

.text-center {
  text-align: center;
}

.custom-btn {
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
}

.main-heading {
  font-weight: 700;
}

.sub-heading {
  font-weight: 300;
}

.space-above {
  margin-top: 65px;
}

.space-below {
  margin-bottom: 45px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.2);
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.my-btn {
  padding: 10px 30px;
  border: 1px #fff solid;
}

.min-height {
  min-height: calc(100vh - 64px - 120px);
}

.space {
  margin-bottom: 25px;
}
