.showcase {
  height: 400px;
  background-color: var(--my-primary);
  color: #fff;
  position: relative;
  padding: 60px 0px;

  .my-btn {
    padding: 10px 30px;
    border: 1px #fff solid;
  }

  h1 {
    font-size: 40px;
  }

  p {
    margin: 25px 0;
  }

  img {
    position: relative;
    height: 320px;
    width: 550px;
    z-index: 100;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -50px;
  right: 0;
  left: 0;
  background-color: #fff;
  transform: skewY(-3deg);
}

.stats {
  padding-top: 100px;

  .card {
    // background-color: var(--my-primary);
    padding: 5px;
  }

  i {
    color: var(--my-primary);
    margin: 15px;
  }

  h4,
  p {
    color: var(--my-primary);
  }

  .margin-stats {
    margin: 30px;
  }

  .grid {
    div {
      margin: 20px;
    }
  }
}

.pricing {
  padding-top: 100px;

  .my-btn {
    background-color: var(--my-primary);
    color: #fff;
    width: 75%;
    border: 0;
  }

  .features {
    padding: 10px 25px 10px 25px;
    text-align: left;
  }

  i {
    padding: 3px;
    padding-right: 10px;
    margin-left: 10px;
  }

  .tag {
    font-weight: 700;
    font-size: 1.2em;
    color: rgb(145, 145, 145);
  }

  .price {
    font-size: 2em;
    font-weight: 700;
  }

  .inactive {
    color: rgb(145, 145, 145);
  }

  .grid {
    gap: 30px;
  }

  .my-btn {
    padding: 10px 30px;
  }

  .best-card {
    background-color: var(--my-primary);

    p {
      color: #fff;
    }

    .price {
      color: #fff;
    }

    .my-btn {
      padding: 10px 30px;
      border: 1px #fff solid;
    }
  }
}
