.showcase {
  height: 400px;
  background-color: var(--my-primary);
  color: #fff;
  position: relative;
  padding: 60px 0px;

  h1 {
    font-size: 40px;
  }

  p {
    margin: 25px 0;
  }

  img {
    position: relative;
    height: 320px;
    width: 550px;
    z-index: 100;
  }

  button {
    padding: 10px 30px;
    border: 1px #fff solid;
  }

  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -50px;
  right: 0;
  left: 0;
  background-color: #fff;
  transform: skewY(-3deg);
}

.stats {
  padding-top: 100px;

  .text-center {
    text-align: center;
  }

  .margin-stats {
    margin: 30px;
  }

  .grid {
    div {
      margin: 20px;
    }
  }
}
