<section class="showcase">
  <div class="container flex">
    <div class="showcase-text ">
      <h1>
        Welcome to Server Manager
      </h1>

      <p>
        Manage your remote servers with no hassle.
      </p>
      <button mat-stroked-button>Go to dashboard</button>
    </div>

    <div class="showcase-img">
      <img src="assets/undraw_server_down_s4lk.svg" alt="Server Image">
    </div>

  </div>
</section>


<section class="stats">
  <div class="container">
    <h4 class="stats-heading text-center margin-stats">
      Welcome to the best Server management tool on the market!
    </h4>
    <div class="grid text-center m-3">
      <div>
        <i class="fas fa-server fa-2x"></i>
        <h4>1000+</h4>
        <p>Active Servers</p>
      </div>
      <div>
        <i class="fas fa-user-shield fa-2x"></i>
        <h4>12,340</h4>
        <p>Active Admins</p>
      </div>
      <div>
        <i class="fas fa-project-diagram fa-2x"></i>
        <h4>21,034</h4>
        <p>Active Projets</p>
      </div>
    </div>
  </div>
</section>
